/* Pannukakku */
/* Cara Kolehmainen 2020 */

body, html {
	height: 100%;
	width: 100%;
	background-color: #f8a5c2;
}
img {
	float: right;
	width: 900px;
}
p {
	color: #c44569;
	font-family: "Lucida Console", Courier, monospace;
}
li {
	color: white;
	font-family: "Lucida Console", Courier, monospace;
}